com2sec readonly default {{ snmp_community }}
group MyROGroup v1 {{ snmp_version }} readonly
group MyROGroup v2c {{ snmp_version }} readonly
view all included .1 80
access MyROGroup "" any noauth exact all none none
